<div class="container mt-4" style="width: 70%;">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col-3">Sr No</th>
        <th scope="col-1">Table Number</th>
        <th scope="col-2">Details</th>
        <th scope="col-3">Total</th>
        <th scope="col-3">Status</th>
        <th scope="col-3"></th>
      </tr>
    </thead>
    <tbody *ngIf="orders">
      <tr *ngFor="let order of orders;let i = index">
        <td>{{ (i+1 )}}</td>
        <td>{{ order.payload.doc.get("tableNumber") || 0}}</td>
        <td><button class="btn btn-details"
            (click)="open(order.payload.doc.get('items'),order.payload.doc.get('customization'))">Details</button></td>
        <td>₹{{ order.payload.doc.get("totalAmount") || 0}}</td>
        <td *ngIf="order.payload.doc.get('status') == 0">Placed</td>
        <td><button class="btn btn-delivery" (click)="addToBill(order.payload.doc.id)">Delivered</button></td>
      </tr>
    </tbody>
  </table>
</div>
